<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">{{ 'Control Panel:'|trans }}</span>
        </div>

        <div class="collapse navbar-collapse">
            {{ form_start(deleteForm, {'attr': {'class': 'navbar-form navbar-left'}}) }}
                {{ form_widget(deleteForm) }}

                <button type="submit" class="btn btn-default" onclick="return confirm('Are you sure?')">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    {{ 'Delete'|trans }}
                </button>
            {{ form_end(deleteForm) }}

            {% if job.activated %}
                <p class="navbar-text">
                    {% set daysToExpiring = job.expiresAt.diff(date())|date('%a') %}

                    {% transchoice daysToExpiring with {'%days%': daysToExpiring} %}
                        ]-Inf,0] Expired|{1}Expires in 1 day|]1,Inf[ Expires in %days% days
                    {% endtranschoice %}
                </p>

                {% if job.expiresAt.diff(date())|date('%a') < 5 %}
                    <a class="btn btn-default navbar-btn" href="#">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        {{ 'Extend (for another 30 days)'|trans }}
                    </a>
                {% endif %}
            {% else %}
                <a class="btn btn-default navbar-btn" href="{{ path('job.edit', { 'token': job.token }) }}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    {{ 'Edit'|trans }}
                </a>

                {{ form_start(publishForm, {'attr': {'class': 'navbar-form navbar-left'}}) }}
                    {{ form_widget(publishForm) }}

                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {{ 'Publish'|trans }}
                    </button>
                {{ form_end(deleteForm) }}
            {% endif %}

            <p class="navbar-text navbar-right">
                {{ '[Bookmark this <a href="%url%">URL</a> to manage this job in the future]'|trans({'%url%': path('job.preview', {token: job.token})})|raw }}
            </p>
        </div>
    </div>
</nav>
