{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Job creation'|trans }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">{{ 'Create'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
