{% extends 'base.html.twig' %}

{% block body %}
    <h1>Job</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ job.id }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ job.type }}</td>
        </tr>
        <tr>
            <th>Company</th>
            <td>{{ job.company }}</td>
        </tr>
        <tr>
            <th>Logo</th>
            <td>{{ job.logo }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ job.url }}</td>
        </tr>
        <tr>
            <th>Position</th>
            <td>{{ job.position }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ job.location }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ job.description }}</td>
        </tr>
        <tr>
            <th>How to apply</th>
            <td>{{ job.howToApply }}</td>
        </tr>
        <tr>
            <th>Token</th>
            <td>{{ job.token }}</td>
        </tr>
        <tr>
            <th>Is public</th>
            <td>{% if job.isPublic %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Is activated</th>
            <td>{% if job.isActivated %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ job.email }}</td>
        </tr>
        <tr>
            <th>Expires at</th>
            <td>{% if job.expiresAt %}{{ job.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Created at</th>
            <td>{% if job.createdAt %}{{ job.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Updated at</th>
            <td>{% if job.updatedAt %}{{ job.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="#">Back to the list</a>
        </li>

        <li>
            <a href="#">Edit</a>
        </li>
    </ul>
{% endblock %}