<table class="table text-center">
    <thead>
    <tr>
        <th class="active text-center">{{ 'City'|trans }}</th>
        <th class="active text-center">{{ 'Position'|trans }}</th>
        <th class="active text-center">{{ 'Company'|trans }}</th>
    </tr>
    </thead>

    <tbody>
    {% for job in jobs %}
        <tr>
            <td>{{ job.location }}</td>
            <td>
                <a href="{{ path('job.show', {id: job.id}) }}">
                    {{ job.position }}
                </a>
            </td>
            <td>{{ job.company }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
