{% extends 'admin/base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr class="active">
            <th>{{ 'admin.affiliate.table.email'|trans }}</th>
            <th>{{ 'admin.affiliate.table.url'|trans }}</th>
            <th>{{ 'admin.affiliate.table.active'|trans }}</th>
            <th>{{ 'admin.affiliate.table.actions'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% for affiliate in affiliates %}
            <tr>
                <td>{{ affiliate.email }}</td>
                <td>{{ affiliate.url }}</td>
                <td>
                    {% if affiliate.active %}
                        <span class="label label-success">{{ 'admin.affiliate.active'|trans }}</span>
                    {% else %}
                        <span class="label label-danger">{{ 'admin.affiliate.inactive'|trans }}</span>
                    {% endif %}
                </td>
                <td class="text-nowrap">
                    <ul class="list-inline">
                        <li>
                            {% if affiliate.active %}
                                <a href="{{ path('admin.affiliate.deactivate', {id: affiliate.id}) }}" class="btn btn-default">{{ 'admin.affiliate.deactivate_button'|trans }}</a>
                            {% else %}
                                <a href="{{ path('admin.affiliate.activate', {id: affiliate.id}) }}" class="btn btn-default">{{ 'admin.affiliate.activate_button'|trans }}</a>
                            {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(affiliates) }}
    </div>
{% endblock %}
